.logout-title {
    margin: auto;
    width: 60%;
    text-align: left;
    color: darkolivegreen;
    margin-top: 15%;
    font-size: 30px;
}

.logout-msg {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    background: darkolivegreen;
    color: white;
    font-size: 20px;
}

.line-hr {
    margin-top: 0px;
    width: 60%;
}

.login-agn {
    text-align: center;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.loginLink{
    cursor: pointer;
    font-weight: 500!important;
    color: darkolivegreen;
    text-decoration-line: underline!important;
}